In [11]:
import pandas as pd
from bson import ObjectId
import json
import datetime as dt

In [2]:
from db.mongo_manager import MongoManager
# Instancia para la Base de Datos de usuarios y modelos
DB=MongoManager()
# ConexiÃ³n a la Base de Datos
DB.connect_to_database(path = "mongodb+srv://guancho:Julio788@q4e.yn4jv.mongodb.net/test")

In [7]:

def restore_dataframe(collection: str, super: str, model_id: ObjectId)-> pd.DataFrame:
    #Identificamos el documento que contiene los id de los trozos
    document = DB.db[collection].find_one({'model_id': model_id, 'super': super})
    # Creamos el df de salida
    df = pd.DataFrame()
    #Recorremos la lista con los id de los trozos, tomamos el atributo data del documento, lo convertimos a json, despues a Dataframe y lo unimos 
    for chunk_id in document['chunks']:
        data=DB.db[f'{collection}_chunks'].find_one({'_id': chunk_id,'super': super})['data']
        js = json.loads(data)      
        temp = pd.DataFrame(js)
        df = pd.concat([df,temp])

    # Adaptamos los formatos de fechas a datetime, se almacenan como Timestamp en segundos
            
    if 'Time' in df.columns.tolist():
        df.Time =df.Time.apply(lambda x: dt.datetime.fromtimestamp(x))           

    if 'TC_Time' in df.columns.tolist():
        df.TC_Time=df.TC_Time.apply(lambda x: dt.datetime.fromtimestamp(x) if x>0 else None)          
    
    if 'TC_Index' in df.columns.tolist():
        df.TC_Index = df.TC_Index.apply(lambda x: int(x))

    if 'Open_Time' in df.columns.tolist():
        df.Open_Time = df.Open_Time.apply(lambda x: dt.datetime.fromtimestamp(x) if x>0 else None)
    
    if 'Close_Time' in df.columns.tolist():
        df.Close_Time = df.Close_Time.apply(lambda x: dt.datetime.fromtimestamp(x) if x>0 else None)
    
    if 'ST1_Open_Time' in df.columns.tolist():
        df.ST1_Open_Time = df.ST1_Open_Time.apply(lambda x: dt.datetime.fromtimestamp(x) if x>0 else None)
    
    if 'ST1_Close_Time' in df.columns.tolist():
        df.ST1_Close_Time = df.ST1_Close_Time.apply(lambda x: dt.datetime.fromtimestamp(x) if x>0 else None)
            
    return df

In [12]:
data = restore_dataframe('data','case', ObjectId('65135f9b806a1a56b6fe6e7c'))

In [13]:
data

,Time,Open,High,Low,Close,Delta,Volume,MVC,MaxDelta,MinDelta,...,Vol_H1,Shadow_Upper,Shadow_Lower,HT,Market_Day,Relative_Hour,Tradeable,TR,ATR,AR
0,2022-04-03 22:00:00,4538.25,4541.50,4536.75,4537.00,280,2082,4539.25,472,70,...,2082,13,1,7,1,0,True,NaN,0.000000,1
1,2022-04-03 22:05:00,4537.00,4539.50,4537.00,4538.75,54,396,4537.75,66,-9,...,2478,3,0,100,1,0,True,11.0,0.000000,1
2,2022-04-03 22:10:00,4538.50,4539.00,4537.50,4537.50,-17,317,4538.25,20,-28,...,2795,2,0,0,1,0,True,7.0,0.000000,1
3,2022-04-03 22:15:00,4537.50,4538.25,4534.75,4535.50,-148,636,4535.50,6,-189,...,3431,3,3,100,1,0,True,15.0,0.000000,1
4,2022-04-03 22:20:00,4535.75,4536.75,4534.75,4536.50,7,317,4535.75,48,1,...,3748,1,4,25,1,0,True,9.0,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17310,2022-06-30 23:35:00,3782.00,3783.50,3781.50,3782.50,24,296,3782.50,34,-1,...,3861,4,2,200,64,1,True,9.0,14.791388,12
17311,2022-06-30 23:40:00,3782.75,3785.00,3782.50,3783.25,125,687,3784.00,183,1,...,4548,7,1,700,64,1,True,11.0,14.412249,12
17312,2022-06-30 23:45:00,3783.25,3785.50,3781.75,3785.00,30,674,3785.00,37,-54,...,5222,2,6,33,64,1,True,16.0,14.571024,12
17313,2022-06-30 23:50:00,3785.25,3789.75,3785.25,3789.00,284,1450,3788.00,304,-1,...,6672,3,0,100,64,1,True,20.0,15.113922,13
17314,2022-06-30 23:55:00,3789.25,3791.00,3789.25,3790.25,204,962,3790.00,220,1,...,7634,3,0,100,64,1,True,9.0,14.502529,12